[Desktop Entry]
Icon=application-vnd.google-apps.document
Name=Machine Learning Model Planning
Type=Link
URL=https://docs.google.com/document/d/1HAQIK09tE2R7Tt7smX8hSJfKE16uHjGBLunIfO50tTo/edit?usp=drivesdk
